<h2>Create a coffee</h2>

<form #productForm="ngForm" (ngSubmit)="onSubmit()">
    <label>
      Name:
      <input class="marginInput" type="text" name="name" [(ngModel)]="product.name" required>
    </label>
  
    <label>
      Price:
      <input class="marginInput" type="" name="price" [(ngModel)]="product.price" required>
    </label>
  
    <label>
      Description:
      <textarea class="marginInput" name="description" [(ngModel)]="product.description" required></textarea>
    </label>
  
    <label>
      Points:
      <input disabled class="marginInput" type="number" name="points" [(ngModel)]="product.points" required>
    </label>
  
    <button type="submit" [disabled]="productForm.invalid">Add new Product</button>
  </form>
  