<h2>Create a coffee</h2>

<form #productForm="ngForm" (ngSubmit)="onSubmit()">
  <label class="form-label">
    Name:
    <input class="form-input" type="text" name="name" [(ngModel)]="product.name" required>
  </label>
  
  <label class="form-label">
    Price:
    <input class="form-input" type="number" name="price" [(ngModel)]="product.price" required>
  </label>
  
  <label class="form-label">
    Description:
    <textarea class="form-input" name="description" [(ngModel)]="product.description" required></textarea>
  </label>
  
  <label class="form-label">
    Points:
    <input class="form-input" disabled type="number" name="points" [(ngModel)]="product.points" required>
  </label>  
  
    <button type="submit" [disabled]="productForm.invalid">Add new Product</button>
  </form>
  