<a [routerLink]="['/']">
  <h1>Coffee Store</h1>
</a>
<a [routerLink]="['/products']">
  <h2>Create a Coffee</h2>
</a>

<a [routerLink]="['/userpoints']">
  <h2>User points</h2>
</a>


<a [routerLink]="['/checkout']" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->